<section class="home">
  <div class="container">
    <div *ngIf="loading$ | async">Loading...</div>
    <div *ngIf="(quizzes$ | async)?.length === 0">No quizzes available.</div>

    <h1 class="title">Available Quizzes</h1>

    <div *ngIf="quizzes$ | async as quizzes" class="quizzes">
      <button mat-button (click)="onLuckyClick()">I'm lucky</button>
      <ul>
        <li *ngFor="let quiz of quizzes">
          <h3>{{ quiz.name }}</h3>
          <p>Questions: {{ quiz.questions.length }}</p>
          <button mat-button (click)="onSelectQuiz(quiz.id)">Play Quiz</button>
        </li>
      </ul>
    </div>
  </div>
</section>
