<div class="container">
  <div *ngIf="loading$ | async">Loading...</div>
  <div *ngIf="error$ | async as error">{{ error }}</div>
  <div *ngIf="(quizzes$ | async)?.length === 0">No quizzes available.</div>

  <h1>Quizzes</h1>
  <button (click)="onLuckyClick()">I'm lucky</button>

  <div *ngIf="quizzes$ | async as quizzes">
    <ul class="list">
      <li
        *ngFor="let quiz of quizzes"
        (click)="selectQuiz(quiz.id)"
        class="list__item"
      >
        <h3>{{ quiz.name }}</h3>
        <p>Questions: {{ quiz.questions.length }}</p>
        <button>Play Quiz</button>
      </li>
    </ul>
  </div>
</div>
